

<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<div class="container">
    <br><br>
    <h4 class="header center orange-text">{{ charge.vendor }}</h4>
    <div class="row center">
        <h5 class="header col s12 light">{{ charge.amount}} at {{ charge.dttm }}</h5>
        <h6>{{ charge.card }}</h6>
    </div>
    <div class="row center">

        <form>
            <div class="input-field col s12">
                <input type="hidden" name="token" value="{{ charge.token}}"/>
                <select>
                    <optgroup label="Family">
                        <option value="1">Anthony</option>
                        <option value="2">Ting</option>
                    </optgroup>
                    <optgroup label="Business">
                        <option value="3">Caicos Marina</option>
                        <option value="4">Windward</option>
                        <option value="4">Stanbrook</option>
                        <option value="4">Stanbrooks Law</option>
                        <option value="4">Graceway</option>
                    </optgroup>
                </select>
                <label>Charger</label>
            </div>

            <div class="input-field col s12">
                <select>

                    <optgroup label="General">
                        <option value="electricity">Fortis</option>
                        <option value="restaurant">Restaurant</option>
                        <option value="bar">Bar</option>
                        <option value="web">Web Hosting</option>
                        <option value="software">Software & Gaming</option>

                        <option value="groceries">Groceries</option>
                        <option value="health">Sports &amp; Health</option>
                        <option value="charity">Charity</option>
                        <option value="learning">Learning</option>
                        <option value="fun">Fun</option>
                    </optgroup>

                    <optgroup label="Reimbursable">
                        <option value="3">Digital</option>
                        <option value="4">Physical</option>
                    </optgroup>
                </select>
                <label>Category</label>
            </div>

            <button type="submit"  class="btn-large waves-effect waves-light orange">Categorize</button>
        </form>
    </div>
    <br><br>

</div>

<!--JavaScript at end of body for optimized loading-->

<script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });

</script>
</body>
</html>